<?php

class DB {

function db_connect()
{
  $db = new mysqli('#host#', '#login#', '#pass#', '#db#');
  return $db;
}

function wp_connect()
{
  $db = new mysqli('#host#', '#login#', '#pass#', '#db#');
  return $db;
}
}
?>
